body {
  background-color: #fff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 60px;
    padding-top: 67px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.section__title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #212121;
  font-size: 28px;
  line-height: 1.18;
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  border-bottom: 2px solid #ececec;
  position: relative;
}

.container__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}

@media screen and (min-width: 768px) {
  .container__location {
    min-height: 80px;
  }
}

@media screen and (max-width: 1199px) {
  .container__location {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.page-header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  color: #2196f3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__accent {
  color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__accent--inverse {
  color: #fff;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover, .menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .site-nav__link,
.menu .auth-nav__link {
  color: inherit;
  text-decoration: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 48px 40px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  z-index: 100;
  overflow-y: scroll;
  color: #212121;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

@media (min-width: 767px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  -webkit-transform: scale(100%);
          transform: scale(100%);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #212121;
}

.mobile-menu {
  display: block;
  margin: 0;
  list-style: none;
}

.mobile-menu .site-nav__link {
  display: block;
  color: #212121;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item + .site-nav__item {
    margin-left: 50px;
  }
}

.site-nav__link {
  display: block;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link.current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
  }
  .site-nav__link::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: #2196f3;
    border-radius: 2px;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link:hover::after, .site-nav__link:focus::after {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .site-nav__link {
    line-height: 1.18;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item:last-child {
    margin-bottom: 302px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav {
    margin-top: auto;
    margin-bottom: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 289px;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav__item {
    margin-bottom: 32px;
  }
  .auth-nav__item:last-child {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__item + .auth-nav__item {
    margin-left: 50px;
  }
}

.auth-nav__link-mail {
  display: block;
  font-size: 34px;
  color: #2196f3;
  line-height: 1.18;
}

.auth-nav__link,
.auth-nav__link-mail {
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover, .auth-nav__link:focus,
.auth-nav__link-mail:hover,
.auth-nav__link-mail:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .auth-nav__link,
  .auth-nav__link-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1.14;
    font-size: 12px;
    line-height: 1.17;
    color: #757575;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__link,
  .auth-nav__link-mail {
    padding-bottom: 32px;
    padding-top: 32px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.auth-nav__link-tel {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .auth-nav__link-tel {
    margin-bottom: 64px;
  }
}

.auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .auth-nav__icon {
    display: none;
  }
}

.auth-nav__icon:hover, .auth-nav__icon:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav__icon--upper {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav__icon--lover {
    width: 10px;
    height: 14px;
  }
}

.social-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-nav__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.social-nav__link::after {
  position: absolute;
  left: -20px;
  bottom: 10px;
  content: '';
  display: block;
  width: 22px;
  height: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.social-nav__item:not(:last-child) {
  margin-right: 20px;
}

.social-nav__item:nth-child(1) .social-nav__link::after {
  display: none;
}

.hero {
  display: block;
  margin: 0 auto;
  height: 400px;
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero_img/Hero-mobile-img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_img/Hero-mobile-img.jpg);
  }
}

@media screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 2dppx), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-device-pixel-ratio: 2) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero_img/Hero-mobile-img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_img/Hero-mobile-img@2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero_img/Hero-tablet-img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_img/Hero-tablet-img.jpg);
  }
}

@media screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 2dppx), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-device-pixel-ratio: 2) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero_img/Hero-tablet-img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_img/Hero-tablet-img@2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero_img/Hero-desktop-img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_img/Hero-desktop-img.jpg);
  }
}

@media screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 2dppx), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-device-pixel-ratio: 2) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero_img/Hero-desktop-img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_img/Hero-desktop-img@2x.jpg);
  }
}

.hero__title {
  display: block;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  color: #fff;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  margin: 0 auto;
  background-color: #2196f3;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 6px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 40px;
  height: 609px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%), scale(0.9);
          transform: translate(-50%, -50%), scale(0.9);
}

@media screen and (max-width: 767px) {
  .modal {
    width: calc(100% - 30px);
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background-color: transparent;
}

.modal__icon {
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover .modal__icon,
.modal__btn:focus .modal__icon {
  fill: #2196f3;
}

.form__label {
  position: absolute;
  top: 20px;
  left: 42px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 1.17;
  color: #212121;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  -webkit-transform: translate(-40px, -40px);
          transform: translate(-40px, -40px);
  color: #757575;
}

.form__textarea + .form__label {
  left: 0px;
  top: -10px;
  color: #757575;
}

.form__field {
  display: block;
  position: relative;
  margin-bottom: 28px;
}

.form__field:nth-child(3) {
  margin-bottom: 10px;
}

.form__field:nth-child(4) {
  margin-bottom: 20px;
}

.form__input {
  padding: 0;
  padding-left: 42px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form__field input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.form__icon {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  top: 11px;
  left: 12px;
  color: #212121;
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus-within > .form__icon {
  fill: #2196f3;
}

.form__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  resize: none;
  padding: 12px 16px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: top;
}

.form__textarea::-webkit-input-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:-ms-input-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::-ms-input-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form__item--static {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 10px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__icon {
  background-color: #2196f3;
  background-image: url(../images/svg/modal.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .checkbox__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    line-height: 1.17;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.checkbox__agreement {
  color: #2196f3;
  text-decoration: underline;
}

.form__submit {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #2196f3;
}

.section__markup {
  padding-bottom: 0;
  position: relative;
}

.section__title--visibility {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
    padding-bottom: 53px;
  }
}

.advantages__thumb {
  margin-bottom: 30px;
  padding: 25px 0;
  background-color: #f5f4fa;
}

@media screen and (max-width: 767px) {
  .advantages__thumb {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .advantages__thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .advantages__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__item {
    max-width: 354px;
    width: calc(100% - 60px)/2;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .advantages__description {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .section-works {
    display: none;
  }
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__item {
  position: relative;
  margin-right: 30px;
  overflow: hidden;
  width: 370px;
}

.works__item:nth-child(3) {
  margin-right: 0px;
}

.works__description {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.works__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
}

.section__background {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .command {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.command__item {
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #fff;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .command__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .command__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .command__item {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .command__item .command__box {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .command__item .command__box {
    padding: 30px 32px;
  }
}

.command__item .command__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.command__item .command__description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .command__item .command__description {
    display: inline-block;
  }
}

.command__item .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.command__item .social__item:not(:last-child) {
  margin-right: 10px;
}

.command__item .social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.command__item .social__link:hover, .command__item .social__link:focus {
  background-color: #2196f3;
  color: #fff;
}

.command__item .social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media screen and (max-width: 767px) {
  .clients {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .clients {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .clients__item {
    margin: 15px;
    max-width: 210px;
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .clients__item {
    margin: 15px;
    max-width: 226px;
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    margin: 15px;
    max-width: 170px;
    width: calc((100% - 180px) / 6);
  }
}

.clients__link {
  padding: 16px 52px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 767px) {
  .clients__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .clients__link {
    padding: 16px 60px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    padding: 16px 32px;
    max-width: 170px;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .contacts-item {
    width: 231px;
  }
}

.contacts {
  font-style: inherit;
}

@media screen and (max-width: 767px) {
  .contacts:last-child {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-style: normal;
  }
}

@media screen and (max-width: 767px) {
  .container-contacts {
    text-align: center;
  }
}

@media screen and (min-width: 1199px) {
  .container-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .contacts__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__tablet {
    margin-bottom: 60px;
  }
}

.contacts__address {
  color: #fff;
}

@media screen and (max-width: 767px) {
  .contacts__address {
    margin-top: 20px;
  }
}

.contacts__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contacts__link {
    margin-top: 8px;
  }
}

@media screen and (max-width: 767px) {
  .join-box {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .join-box {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1199px) {
  .join-box {
    margin-left: 70px;
    width: 206px;
  }
}

.join-box__text {
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.join-box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .join-box__list {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .join-box__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.join-box__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-box__link:hover, .join-box__link:focus {
  background-color: #2196f3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.join-box__icon {
  fill: #fff;
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 1200px) {
  .join-box__item:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe-box {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-box {
    margin-left: 93px;
  }
}

.subscribe-box__text {
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.subscribe-box__input {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 16px;
  margin-right: 12px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .subscribe-box__input {
    max-width: 450px;
  }
}

@media screen and (min-width: 1199px) {
  .subscribe-box__input {
    width: 358px;
  }
}

.subscribe-box__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-box__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-box__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-box__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-box__input:hover, .subscribe-box__input:focus {
  border: 1px solid #2196f3;
  outline: none;
  color: #fff;
}

.subscribe-box__btn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background: #2196f3;
  border-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 767px) {
  .subscribe-box__btn {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1199px) {
  .subscribe-box__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe-box__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .portfolio {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio {
    margin-bottom: 50px;
  }
}

.portfolio__item {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.portfolio__item + .portfolio__item {
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio__item + .portfolio__item {
    margin-bottom: 15px;
  }
  .portfolio__item + .portfolio__item:nth-child(4) {
    margin-left: 0;
    margin-bottom: 0;
  }
  .portfolio__item + .portfolio__item:nth-child(5) {
    margin-bottom: 0;
  }
}

.portfolio__button {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover, .portfolio__button:focus {
  background-color: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .card-set__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .card-set__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set__item {
    width: calc((100% - 90px) / 3);
  }
}

.card {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover, .card:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card__title {
  color: #212121;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.card__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

.card__box {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__box--tablet {
    padding-bottom: 56px;
  }
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card__overlay,
.card:focus .card__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  padding: 77px 24px;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .card__description {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .card__description {
    padding: 63px 24px;
  }
}
/*# sourceMappingURL=main.css.map */