:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  width: 100%;
  display: block;
  height: auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

/* Шапка сайта */

.page-header {
  border-bottom: 2px solid #ececec;
}

.logo {
  margin-right: 93px;

  color: var(--accent-color);

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__accent {
  color: var(--title-text-color);
}
.logo__accent--inverse {
  color: #fff;
}

.logo,
.logo__accent {
  display: flex;
}

/* ---------навигация---------- */

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: flex;
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: inline-block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);

  border-radius: 2px;

  transform: scale(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover::after,
.site-nav__link:focus::after {
  transform: scale(1);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover,
.auth-nav__link:focus {
  color: var(--accent-color);
}

.auth-nav__item {
  display: flex;
  align-items: center;
}
.auth-nav__item + .auth-nav__item {
  margin-left: 50px;
}

.auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
}

.auth-nav__icon:hover,
.auth-nav__icon:focus {
  fill: var(--accent-color);
}

/* Герой */

.hero {
  display: block;
  margin: 0 auto;

  background-color: #2f303a;
  height: 600px;

  text-align: center;
  max-width: 1600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  display: inline-block;
  margin-top: 200px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--primary-white-color);

  width: 696px;
  font-weight: 900;
  letter-spacing: 0.06em;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

.button {
  display: block;
  font-weight: 700;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  margin: 0 auto;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: inherit;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 6px;
}

.button__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.button__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  z-index: 2;
}

.button__backdrop.is-hidden .modal {
  transform: translate(-50%, -50%), scale(0.9);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 528px;
  height: 581px;

  padding: 40px;

  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  color: #212121;
  margin-bottom: 30px;
}

.modal__btn {
  position: absolute;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background-color: transparent;
}

.modal__icone {
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover .modal__icon,
.modal__btn:focus .modal__icon {
  fill: var(--accent-color);
}

.form__label {
  position: absolute;
  top: 20px;
  left: 42px;
  transform: translate(0, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 1.17;
  color: #212121;
}
.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translate(-40px, -40px);
  color: #757575;
}

.form__field {
  display: block;
  position: relative;
  margin-bottom: 28px;
}

.form__field:nth-child(3) {
  margin-bottom: 10px;
}
.form__field:nth-child(4) {
  margin-bottom: 20px;
}

.form__input {
  padding: 0;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus,
.form__textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form__field input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.form__icon {
  position: absolute;

  display: inline-block;
  width: 18px;
  height: 18px;
  top: 11px;
  left: 12px;

  color: #212121;
  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus-within > .form__icon {
  fill: var(--accent-color);
}

.form__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  resize: none;
  padding: 12px 16px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: top;
}

.form__textarea + .form___label {
  left: 0px;
  top: -10px;
  color: #757575;
}

.form__textarea::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__item--static {
  display: flex;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form__field.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__icon {
  background-color: var(--accent-color);
  background-image: url(../images/svg/modal.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.checkbox__agreement {
  color: var(--accent-color);
  text-decoration: underline;
}

.form__submit {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);
}

/*  Секция Преимущества */

.advantages {
  padding-bottom: 0;
}

.section__title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section__title.advantages {
  visibility: hidden;
  display: none;
}
.advantages-list {
  display: flex;
}

.advantages-list__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.advantages-list__item:not(:last-child) {
  margin-right: 30px;
}

.advantages-list__thumb {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px 0;

  background-color: #f5f4fa;
}

.advantages-list__icon {
  width: 70px;
  height: 70px;
}

/*------ Чем мы занимаемся ------*/

.works-list {
  display: flex;
}

.works-list__item {
  position: relative;
  margin-right: 30px;
  overflow: hidden;
}

.works-list__item:nth-child(3) {
  margin-right: 0px;
}

.works-list__description {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;

  color: #ffffff;
}

.works-list__overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
}

/*------ Наша команда ------*/

.command {
  background-color: #f5f4fa;
}

.command-list__name {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.command-list {
  display: flex;
}

.command-list__item {
  margin-right: 30px;

  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  background-color: var(--primary-white-color);

  text-align: center;
}

.command-list__item:nth-child(4) {
  margin-right: 0;
}

.command-list__description {
  padding: 30px 0;
}

.command-list__position {
  display: inline-block;

  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.command-actions {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.command-actions__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.command-actions__link:hover,
.command-actions__link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.command-actions__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* ------ Постоянные клиенты ------*/

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list .clients-list:not(:last-child) {
  margin-right: 30px;
}

.clients-list__link {
  padding: 16px 32px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 3px;
  display: flex;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover,
.clients-list__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  transform: scale(1.1);
}

.clients-list__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
  justify-content: center;
}

/*------ Футер------ */

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.contacts-item {
  width: 231px;
}

.contacts {
  display: flex;
  margin-top: 20px;

  flex-direction: column;
  font-style: normal;
}

.container-contacts {
  display: flex;
}

.contacts__address {
  color: var(--primary-white-color);
}

.contacts__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.join-box {
  margin-left: 70px;
  width: 206px;
}
.join-box__text {
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.join-box__list {
  display: flex;
  justify-content: space-between;
}

.join-box__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);

  transform: scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-box__link:hover,
.join-box__link:focus {
  background-color: var(--accent-color);
  transform: scale(1.1);
}
.join-box__icon {
  fill: var(--primary-white-color);
  width: 20px;
  height: 20px;
}

.subscribe-box {
  margin-left: 93px;
}
.subscribe-box__text {
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.subscribe-box__input {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 16px;
  margin-right: 12px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-box__input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-box__input:hover,
.subscribe-box__input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
  color: #fff;
}

.subscribe-box__btn {
  width: 200px;
  height: 50px;

  background: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
}

.subscribe-box__form {
  display: flex;
}

.subscribe-box__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* ------Секция Портфолио------ */

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-list__item {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.portfolio-list__button {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: #f5f4fa;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__button:hover,
.portfolio-list__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transform: scale(1.1);
}

.portfolio-list__item + .portfolio-list__item {
  margin-left: 8px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}
.card-set__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  height: 400px;
}
.card {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover,
.card:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card__title {
  color: var(--title-text-color);

  font-weight: 400;
  letter-spacing: 0.06em;
  font-size: 18px;
  line-height: 2;
}

.card__label {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
}

.card__description {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card__overlay,
.card:focus .card__overlay {
  transform: translateY(-100%);
}

.card__opacity {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;

  padding: 63px 24px;

  color: #fff;

  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
