.hero {
  display: block;
  margin: 0 auto;

  background-color: #2f303a;
  height: 600px;

  text-align: center;
  max-width: 1600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 767px) {
    height: 400px;
    padding-top: 118px;
  }
}

.hero__title {
  display: inline-block;
  margin-top: 200px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: $color;

  width: 696px;
  font-weight: 900;
  letter-spacing: 0.06em;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    margin-top: 0;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    width: 360px;
  }
}
