.section__background {
  background-color: #f5f4fa;
}
.command {
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    margin: -15px;
  }
}
.command__item {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  background-color: $color;

  text-align: center;

  &:nth-child(4) {
    margin-right: 0;
  }
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
}
