.logo {
  margin-right: 93px;

  color: $accent-color;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  display: flex;
}
.logo__accent {
  color: $title-text-color;
  display: flex;

  &--inverse {
    color: $color;
  }
}
