.logo {
  color: $accent-color;

  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and(min-width:768px) {
    margin-right: 88px;
  }

  @media screen and(min-width:1200px) {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__accent {
  color: $title-text-color;
  display: flex;

  &--inverse {
    color: $color;
  }
}
