.card-set {
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.card-set__item {
  @media screen and(max-width:767px) {
    margin-bottom: 30px;
    max-width: 450px;
  }
  @media screen and(min-width:768px) {
    width: calc((100% - 60px) / 2);
    max-width: 354px;
    margin: 15px;
  }

  @media screen and(min-width:1200px) {
    width: calc((100% - 90px) / 3);

    max-width: 370px;
  }
}
